#product-overview {
    background-color: #da552f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.session-title {
    color: #2ddf5c;
}

h1 {
    color: white;
}